#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    thinpod_host_if: thinpod_host_if {
        compatible = "gpio-leds";

        tphost_sck: tphost_sck {
            gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        };

        tphost_mosi: tphost_mosi {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        };

        tphost_miso: tphost_miso {
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        };

        tphost_cs: tphost_cs {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
        };

        tphost_ready: tphost_ready {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        tphost-sck = &tphost_sck;
        tphost-mosi = &tphost_mosi;
        tphost-miso = &tphost_miso;
        tphost-cs = &tphost_cs;
        tphost-ready = &tphost_ready;
    };
};
